<section>
    <h2>Add Image</h2>
    <add-image add="$ctrl.add" images="$ctrl.images"></add-image>
    <h2>Select View</h2>
    <input type="checkbox" ng-model="$ctrl.information" name="view" id="information">
    <label for="information">Information</label>
    <input type="checkbox" ng-model="$ctrl.detail" name="view" id="detail">
    <label for="detail">Detail</label>
    <input type="checkbox" ng-model="$ctrl.thumbnail" name="view" id="thumbnail">
    <label for="thumbnail">Thumbnail</label>
    <ul>
        <li ng-repeat="image in $ctrl.images">
            <information image="image" ng-show="$ctrl.information"></information>
            <detail image="image" ng-show="$ctrl.detail"></detail>
            <thumbnail image="image" images="$ctrl.images" remove="$ctrl.remove" ng-show="$ctrl.thumbnail"></thumbnail>
        </li>
    </ul>
    {{$ctrl.images}}
</section>