<section>
    <!--View Selection-->
    <h2>Select View</h2>
    <input type="checkbox" ng-model="$ctrl.information" name="view" id="information">
    <label for="information">Information</label>
    <input type="checkbox" ng-model="$ctrl.detail" name="view" id="detail">
    <label for="detail">Detail</label>
    <input type="checkbox" ng-model="$ctrl.thumbnail" name="view" id="thumbnail">
    <label for="thumbnail">Thumbnail</label>


    {{$ctrl.view}}
    
            <information ng-if="$ctrl.view===information" images="images"></information>
            <detail ng-if="$ctrl.view===detail" images="images"></detail>
            <thumbnail ng-if="$ctrl.view===thumbnail" images="images" images="$ctrl.images" remove="$ctrl.remove" ></thumbnail>
        </li>
    </ul>
</section>