<section>

    {{$ctrl.albums}}
    {{$ctrl.view}}
    <!--Album Selection-->

    <select ng-model="$ctrl.albumId" ng-change="$ctrl.updateAlbum()">
        <option value="">--Select Album--</option>
        <option ng-repeat="album in $ctrl.albums" ng-value="album._id">{{album.name}}</option>
    </select>
    <!--View Selection-->

    <select ng-model="$ctrl.view">
        <option value="">--Select View--</option>
        <option ng-repeat="view in ['thumbnail', 'information', 'detail']" ng-value="view">{{view}}</option>
    </select>


        <information ng-if="$ctrl.view==='information'" images="$ctrl.images"></information>
        <detail ng-if="$ctrl.view==='detail'" images="$ctrl.images"></detail>
        <thumbnail ng-if="$ctrl.view==='thumbnail'"  images="$ctrl.images" remove="$ctrl.remove" ></thumbnail>

    <albums albums="$ctrl.albums"></albums>
</section>