$lightblue: #9ce9f4;
$palepink: #f2bade;
$hotpink: #ef079e;
$lavender: #d5a6ed;
$butteryellow: #fffecc;
$darkpurple: #410260;
$darkteal: #024351;

$main: $lavender;
$accent: $hotpink;
$text-blue: $darkteal;
$text-purple: $darkpurple;